//  PRECISE CONTROL OVER RESPONSIVE TYPOGRAPHY FOR SASS
//  ---------------------------------------------------
//  Indrek Paas @indrekpaas
//  https://www.sassmeister.com/gist/7f22e44ace49b5124eec

@mixin fluid-value($properties, $min-vw, $max-vw, $min-value, $max-value) {

	@media (max-width: $min-vw - 1) {
		@each $property in $properties {
			#{$property}: $min-value;
		}
	}

	@media (min-width: $min-vw) and (max-width: $max-vw - 1){
		@each $property in $properties {
			#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
		}
	}

	@media (min-width: $max-vw) {
		@each $property in $properties {
			#{$property}: $max-value;
		}
	}
}

// Examples:
//
// /* Single property */
// html {
//   @include fluid-value(font-size, 320px, 1366px, 14px, 18px);
// }
//
// /* Multiple properties with same values */
// h1 {
//   @include fluid-value(padding-bottom padding-top, 20em, 70em, 2em, 4em);
// }
//
//
// Result in:
//
// /* Single property */
//
// html { font-size: 14px; }
//
// @media (min-width: 320px) {
//   html { font-size: calc(14px + 4 * (100vw - 320px) / 1046); }
// }
// @media (min-width: 1366px) {
//   html { font-size: 18px; }
// }

// /* Multiple properties with same values */
// h1 {
//   padding-bottom: 2em;
//   padding-top: 2em;
// }
// @media (min-width: 20em) {
//   h1 {
//     padding-bottom: calc(2em + 2 * (100vw - 20em) / 50);
//     padding-top: calc(2em + 2 * (100vw - 20em) / 50);
//   }
// }
// @media (min-width: 70em) {
//   h1 {
//     padding-bottom: 4em;
//     padding-top: 4em;
//   }
// }
