.it-box {
    display: flex;
    align-items:center;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 45px;
}
.left-container {
    margin-right: 115px;
}

.it-image {
    max-width: 572px;
    max-height: 375px;
}